body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f5ff; /* Light purple background color */
    height: auto;
}

.card {
    margin: 20px;
    width: 800px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #6a50a7; /* Darker purple for label text */
    font-size: 30px; /* Larger font size for labels */
}


#back {
    margin-top: 35px;
    text-align: center;
}

a {
    text-decoration: none;
}

.images {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.images img {
    width: auto;
    height: auto;
}





